html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#header-container {
    background-image: url("Images/Misc/Berkeley.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-repeat: no-repeat;
}

.navbar-nav> li {
    text-align: center;
      float: none;
      display: inline-block;
}
.navbar {

    position:fixed;
    z-index: 1;
    width:100%;
}
.navbar {

}
.navbar .navbar-brand {
    color: #000202;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #001eff;
}
.navbar .navbar-text {
    color: #000202;
}
.navbar .navbar-nav .nav-link {
    color: #000202;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #001eff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #001eff;
}
.navbar .navbar-toggle {
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #000202;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #000202;
}
.navbar .navbar-link {
    color: #000202;
}
.navbar .navbar-link:hover {
    color: #001eff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000202;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #001eff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #001eff;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000202;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #001eff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #001eff;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000202;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #001eff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #001eff;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000202;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #001eff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #001eff;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000202;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #001eff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #001eff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4%;
    margin: 0;
    padding: 0;
    text-align: center;

}

.nav-bar-link {
    font-family: 'Aldrich', sans-serif;
    font-size:15px;
    text-align:center;
}
#test{
    color:black;
}

#nav-bar {
    height: 5vh;

}

ul.nav a:hover { color: blue !important; }
#title-text {
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 4vh;
    font-family: 'Carter One', sans-serif;
}
#header-name{
    font-family:'Amethysta',sans-serif;
}
#name {
    position: relative;
    top: 25vh;
    font-size: 7vh;
    font-family: Impact, Charcoal, sans-serif;
}

#spacer {
    position: relative;
    top: 27.5vh;
    width: 150px;
}

#other-info {
    position: relative;
    top: 30vh;
    font-size: 3vh;
    font-family: Impact, Charcoal, sans-serif;
    padding-bottom: 200px;
}

#about-me {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    background-color: lightblue;
    display: inline-block;
}

.row{
    padding-bottom: 50px;
}
#first-row{
    margin-top: 10px;
    padding-top:30px;
}
#image-container {

    height: 45vh;
    width: 13vw;
    position: relative;

    background-color: white;
}
/* keep ratio of height to width at 3/5*/
#myPicture{
    width:210px;
    height: 400px;
}
#about-me-title {
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 4vh;
    font-family: 'Carter One', sans-serif;
}

.about-me-text {
    position: relative;
    height: auto;
    top: 3vh;
    font-size:1.5em;
    width:75%;
    font-family: "Lucida Console", Monaco, monospace;
}
@media only screen and (max-height: 750px) {
    .about-me-text {
        font-size:15px;
    }
}
@media only screen and (max-width: 750px) {
    #myPicture {
        width:150px;
        height:250px;

    }

}
#ab1 {
    position: relative;

}

#ab2 {
    position: relative;

}

#skills {
    vertical-align: middle;
    background-color: grey;
    height: 125vh;
    width: auto;
}

#graph-container {
    padding-top: 20px;
    position: relative;
    left: 15vw;
    font-size: 30px;
    color: white;
    width: 50px;
}

#graph-bar-container {
    position: relative;
    height: 10vh;
    padding: 0.5vh;

}

#graph-bar-text {
    font-size: 3vh;
    font-family: 'Allerta Stencil', serif;

}

.graph-bar {
    padding: 30px;
    width: 15vw;
    height: 20vh;

}

#java-bar {
    border-radius: 25px;
    display: inline-block;
    max-width: 70vw;
}

#background-container {
    border-radius: 25px;
    height: 4.3vh;
    width: 70vw;
    background-color: rgb(51, 102, 153);
}

.bar-background {
    height: 4.3vh;
}

#python-bar {
    border-radius: 25px;

    display: inline-block;
    max-width: 70vw;
}

#VBA-bar {
    border-radius: 25px;
    display: inline-block;
    max-width: 70vw;
}

#HTML5-bar {
    border-radius: 25px;

    display: inline-block;
    max-width: 70vw;
}

#CSS3-bar {
    border-radius: 25px;

    display: inline-block;
    max-width: 70vw;
}

#JavaScript-bar {
    border-radius: 25px;
    display: inline-block;
    max-width: 70vw;
}

#JQuery-bar {
    border-radius: 25px;
    display: inline-block;
    max-width: 70vw;
}

#SQL-bar {
    border-radius: 25px;
    display: inline-block;
    max-width: 70vw;
}

#projects {
    height: auto;
    background-color: white;
}

.row-container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.project-box {
    position: relative;
    top: 1vh;
    border: black;
    border: solid;
    margin-bottom: 1vw;
    margin-left: 0;
    margin-right: 0;
    width: 75%;
    height: 33%;
    display: inline-block;

}

#databases {
    background-image: url("Images/Databases/DatabasesBackground.jpg");
    background-size: 100% 100%;
}

#bearmaps {
    background-image: url("Images/Maps/BearMapsBackground.jpg");
    background-size: 100% 100%;
}

#nbody {
    background-image: url("Images/NBody/NBodyBackground.jpg");
    background-size: 100% 100%;
}

#scheme {
    background-image: url("Images/Scheme/SchemeBackground.jpg");
    background-size: 100% 100%;
}

#Alexa {
    background-image: url("Images/Alexa/AlexaBackground.jpg");
    background-size: 100% 100%;
}

#yelp {
    background-image: url("Images/YelpMaps/YelpMapsBackground.jpg");
    background-size: 100% 100%;
}

#databases-text-container:hover {
    background-image: url("Images/Misc/ProjectBoxBackground.jpg");
    background-size: 100% 100%;
    background-position: center;

}

#bearmaps:hover > #bearmaps-text-container {
    background-image: url("Images/Misc/ProjectBoxBackground.jpg");
    background-size: 98.1% 100%;
    visibility: visible;
    background-repeat: no-repeat;

}

#nbody:hover > #nbody-text-container {
    background-image: url("Images/Misc/ProjectBoxBackground.jpg");
    background-size: 98.1% 100%;
    visibility: visible;
    background-repeat: no-repeat;

}

#scheme:hover > #scheme-text-container {
    background-image: url("Images/Misc/ProjectBoxBackground.jpg");
    background-size: 98.1% 100%;
    visibility: visible;
    background-repeat: no-repeat;

}

#Alexa:hover > #Alexa-text-container {
    background-image: url("Images/Misc/ProjectBoxBackground.jpg");
    background-size: 98.1% 100%;
    visibility: visible;
    background-repeat: no-repeat;

}

#maps:hover > #maps-text-container {
    background-image: url("Images/Misc/ProjectBoxBackground.jpg");
    background-size: 98.1% 100%;
    visibility: visible;
    background-repeat: no-repeat;

}

#yelp:hover > #yelp-text-container {
    background-image: url("Images/Misc/ProjectBoxBackground.jpg");
    background-size: 98.1% 100%;
    visibility: visible;
    background-repeat: no-repeat;

}

.button-text {
    height: 250px;
    width: 24vw;
    font-family: 'Sofia', Impact, Charcoal, sans-serif;
}

#databases-text-container {
    background-image: url("Images/Databases/DatabasesBackground.jpg");
}

#bearmaps-text-container {
    visibility: hidden;
}

#nbody-text-container {
    visibility: hidden;
}

#scheme-text-container {
    visibility: hidden;
}

#Alexa-text-container {
    visibility: hidden;
}

#yelp-text-container {
    visibility: hidden;
}

.project-text {
    position: relative;
    top: 110px;
    color: white;
    font-size: 25px;
    font-family: 'Amaranth', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.project-title-text {
    font-size: 30px;
    padding-top: 10px;
    font-family: Impact, Charcoal, sans-serif;
}

.project-body-text {
    font-family: 'Play', sans-serif;
    font-size: 17px;
    padding: 10px;
}

/* Animations for skills section */

@-webkit-keyframes fullAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 70vw;
    }
}

@-webkit-keyframes threeQuarterAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 50vw;
    }
}

@-webkit-keyframes sixtyPercentAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 40vw;
    }
}

.mySlidesdb {
    display: none
}

.mySlidesbm {
    display: none
}

.mySlidesnb {
    display: none
}

.mySlidesym {
    display: none
}

.mySlidesAlexa {
    display: none;
}

.mySlidessc {
    display: none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshowImage {
    height: 50vh;
    width: 50vw;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: grey;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: black;
}

.dotdb {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotbm {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotnb {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotym {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.dotAlexa {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotsc {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

#contact {
    vertical-align: middle;
    background-color: black;
    height: 1000px;
}

.image-text-container {
    position: relative;

    max-height: 100px;
}

.button-container {
    position: relative;

    max-height: 100px;
    max-width: 100px;
}

.contact-image {
    width: 7.2vw;
    height: 12vh;
    min-width: 30px;
    min-height: 30px;
    position: relative;
    display: inline-block;

}

#contact-text {
    font-size: 25px;
    position: relative;
    font-family: 'Amarante', sans-serif;

}

#contact-info-container {
    position: relative;
    font-size: 20px;
    text-align: center;
    color: white;
}

.contact-info {
    display: inline-block;
}

#phone {
    top: 12vh;
    left: 37vw;
    width: 10%;
}

#email {
    top: 10vh;
    left: 37vw;
    width: 10%;
}

#email-text {
    color: rgb(0, 128, 192);
    position: relative;
    left: 10vw;
    bottom: 11vh;
    padding: 20px;
    display: inline-block;
}

#phone-text {
    color: rgb(0, 128, 192);
    position: relative;
    padding-left: 6vw;
    left: 5vw;
    bottom: 9vh;
    width: 200%;
    white-space: nowrap;
    overflow: hidden;

}

#email-pic {
    position: relative;
    bottom: 1vh;

}

#github {
    position: relative;
    top: 16vh;
    left: 46vw;
}

#facebook {
    position: relative;
    top: 22vh;
    left: 46vw
}

#github-button {
    background-image: url("Images/Misc/GitHub.png");
    width: 100px;
    height: 100px;
    background-size: 143px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    border-right: none;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07, 1.41, .82, 1.41);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

}

#github-button:hover {
    background-size: 160px;
}

#facebook-button {
    padding: 0;
    margin: 0;
    background-image: url("Images/Misc/Facebook.png");
    width: 100px;
    height: 100px;
    background-size: 143px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07, 1.41, .82, 1.41);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background-color: white;

}

#facebook-button:hover {
    background-size: 160px;
}

/* UnComment this if excess width is appearing on your page */
/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/




