#header-container{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/66/UC-Berkeley-006-VLSB-downtown-Berkeley.jpg);
    background-size:  100%;
    height:800px;
    padding:0px;
}
header {
    position: fixed;
    top:0;
    width: 100%;
    height: 30px;
}
#nav-bar-link{
    top:5px;
    padding-top: 10px;
    padding-left:10px;
    padding-right: 10px;
    color:yellow;
    size:30px;
}
#nav-bar-link:hover{
    color:blue;
}

#about-me{
    vertical-align: middle;
    background-color: grey;
    height:1000px;
}
#skills{
    vertical-align: middle;
    background-color: black;
    height: 1000px;
}






