html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#header-container {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/66/UC-Berkeley-006-VLSB-downtown-Berkeley.jpg);
    background-size: 110%;
    height: 100%;
    padding: 0;
    background-repeat: no-repeat;
}

header {
    position: fixed;
    top:0;
    width: 100%;
    height: 4%;
    margin:0;
    padding:0;
    text-align:center;

}




.nav-bar-link {
    position:relative;
    top:5px;
    margin:5px;
    padding:10px;
    color: black;
    font-size: 21px;
    font-family: 'Aldrich';
}

.nav-bar-link:hover {
    color: blue;
}

#title-text {
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    font-family: 'Carter One',sans-serif;
}

#name {
    padding-top: 250px;
    font-size: 65px;
    font-family: Impact, Charcoal, sans-serif;
}

#spacer {
    width: 150px;
}

#other-info {
    font-size: 25px;
    font-family: Impact, Charcoal, sans-serif;
}

#about-me {
    padding:0;
    margin:0;
    height: 100%;
    background-color: lightblue;
}
#image-container{
    height:60%;
    width:14.5%;
    position: absolute;
    top:120%;
    left:18%;
    background-color:white;
}
#myPicture{
    width:95.7%;
    height:97.5%;
    position: absolute;
    top:5px;
    left:5px;
}
#about-me-title {
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    font-family: 'Carter One', sans-serif;
}

.about-me-text{
    position:relative;
    width:937px;
    font-size:30px;
    font-family: "Lucida Console", Monaco, monospace
}
#ab1{
    top:15%;
    left:35%;
}
#ab2{
    top:25%;
    left:35%;
}
#skills {
    vertical-align: middle;
    background-color: grey;
    height: 800px;
}

#graph-container {
    padding-top: 20px;
    position: relative;
    left: 200px;
    font-size: 30px;
    color: white;
    width: 50px;
}

#graph-bar-container {
    margin-top: 0px;
    padding-top: 0px;

}

#graph-bar-text {
    font-size: 25px;
    font-family: 'Allerta Stencil', serif;

}

.graph-bar {
    padding: 30px;
    width: 150px;
    height: 20px;

}

.java-image {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 52px;
    background-color: white;
}

#java-bar {
    border-radius: 25px;
    height: 35px;
    display: inline-block;
}
#background-container{
    border-radius: 25px;
    height: 35px;
    width:999px;
    background-color: rgb(51,102,153);
}

.python-image {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 119px;
    background-color: white;
}

#python-bar {
    border-radius: 25px;

    height: 35px;
    display: inline-block;
}

.VBA-image {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 186px;
    background-color: white;

}

#VBA-bar {
    border-radius: 25px;
    height: 35px;
    display: inline-block;
}

.HTML5-image {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 253px;
    background-color: white;

}

#HTML5-bar {
    border-radius: 25px;

    height: 35px;
    display: inline-block;
}

.CSS3-image {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 320px;
    background-color: white;

}

#CSS3-bar {
    border-radius: 25px;

    height: 35px;
    display: inline-block;
}

.JavaScript-image {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 387px;
    background-color: white;

}

#JavaScript-bar {
    height: 35px;
    border-radius: 25px;
    display: inline-block;
}

.JQuery-image {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 454px;
    background-color: white;

}

#JQuery-bar {
    border-radius: 25px;
    height: 35px;
    display: inline-block;
}

.SQL-image {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 521px;
    background-color: white;
}

#SQL-bar {
    border-radius: 25px;
    height: 35px;
    display: inline-block;
}

#projects {
    height: 850px;
    background-color: white;
}

.row-container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.project-box {
    border: black;
    border: solid;
    width: 350px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

#databases {
    background-image: url(http://i.imgur.com/UWtMGUS.jpg);
    background-size: 350px 250px;
}

#bearmaps {
    background-image: url(http://imgur.com/OLP41JP.jpg);
    background-size: 350px 250px;
}

#nbody {
    background-image: url(http://imgur.com/UvIb53s.jpg);
    background-size: 350px 250px;
}

/* TODO: add background images to these three project boxes */
#scheme {
    background-image: url(https://inst.eecs.berkeley.edu/~cs61a/sp13/labs/lab09/lambda.svg);
    background-size: 350px 250px;
}

#Alexa {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2016/ALEXA/CP/TEST/alexa-cp-echo.jpg);
    background-size: 350px 250px;
}

#yelp {
    background-image:url(http://imgur.com/keuS6rH.jpg);
    background-size: 350px 250px;
}

.button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 30px;
    position: relative;
    top: 100px;
}

#databases:hover > #databases-text-container {
    background-image: url(http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_04_hd_pictures_169785.jpg);
    background-size: 350px 250px;
    visibility: visible;

}

#bearmaps:hover > #bearmaps-text-container {
    background-image: url(http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_04_hd_pictures_169785.jpg);
    background-size: 350px 250px;
    visibility: visible;
}

#nbody:hover > #nbody-text-container {
    background-image: url(http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_04_hd_pictures_169785.jpg);
    background-size: 350px 250px;
    visibility: visible;
}

#scheme:hover > #scheme-text-container {
    background-image: url(http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_04_hd_pictures_169785.jpg);
    background-size: 350px 250px;
    visibility: visible;
}

#Alexa:hover > #Alexa-text-container {
    background-image: url(http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_04_hd_pictures_169785.jpg);
    background-size: 350px 250px;
    visibility: visible;
}

#maps:hover > #maps-text-container {
    background-image: url(http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_04_hd_pictures_169785.jpg);
    background-size: 350px 250px;
    visibility: visible;
}

#yelp:hover > #yelp-text-container {
    background-image: url(http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_04_hd_pictures_169785.jpg);
    background-size: 350px 250px;
    visibility: visible;
}

.button-text {
    height: 250px;
    width: 350px;
    font-family: 'Sofia';
}

#databases-text-container {
    visibility: hidden;
}

#bearmaps-text-container {
    visibility: hidden;
}

#nbody-text-container {
    visibility: hidden;
}

#scheme-text-container {
    visibility: hidden;
}

#Alexa-text-container {
    visibility: hidden;
}

#yelp-text-container {
    visibility: hidden;
}

.project-text {
    position: relative;
    top: 110px;
    color: white;
    font-size: 25px;
    font-family:'Amaranth',sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.project-title-text {
    font-size: 30px;
    padding-top: 10px;
    font-family:Impact, Charcoal, sans-serif;
}

.project-body-text {
    font-family: 'Play', sans-serif;
    font-size: 17px;
    padding: 10px;
}

/* Animations for skills section */

@-webkit-keyframes fullAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 999px;
    }
}

@-webkit-keyframes fullAnimationPicture {
    0% {
        left: 0;
    }
    100% {
        left: 960px;
    }
}

@-webkit-keyframes threeQuarterAnimation {
    0% {
        width: 0px;
    }
    100% {
        width: 830px;
    }
}

@-webkit-keyframes threeQuarterAnimationPicture {
    0% {
        left: 0px;
    }
    100% {
        left: 800px;
    }

}

@-webkit-keyframes sixtyPercentAnimation {
    0% {
        width: 0px;
    }
    100% {
        width: 750px;
    }
}

@-webkit-keyframes sixtyPercentAnimationPicture {
    0% {
        left: 0px;
    }
    100% {
        left: 600px;
    }

}

.mySlidesdb {
    display: none
}

.mySlidesbm {
    display: none
}

.mySlidesnb {
    display: none
}
.mySlidesym{
    display:none
}
.mySlidesAlexa{
    display:none;
}
.mySlidessc{
    display:none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshowImage {
    height: 450px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: grey;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: black;
}

.dotdb {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotbm {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotnb {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotym{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}
.dotAlexa{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotsc{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}
#contact{
    vertical-align: middle;
    background-color: black;
    height: 1000px;
}
.image-text-container{
    position:relative;
    display:inline;
    max-width:100px;
    max-height:100px;
}

.contact-image{
    width:100px;
    height:100px;
    display:inline-block;


}
#contact-text{
    font-size:25px;
    position:relative;
    font-family:'Amarante',sans-serif;

}
.contact-info{
    color:white;
    display:inline-block;
    position:relative;
    top:-50px;
    left:75px;
    font-size:20px;
    text-align:center;
}

#phone{
    top:100px;
    left:550px;
}
#email{
    top:200px;
    left:329px;
}

#phone-text{
    position:relative;
    left:150px;
}
#email-text{
    color:rgb(0, 128, 192);
}
#github{
    top:350px;
    left:100px;
}
#facebook{
    top:475px;
    left:-2px;
}

#github-button{
    background-image: url(https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png);
    width:100px;
    height:100px;
    background-size: 143px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    border-right:none;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

}
#github-button:hover{
    background-size: 160px;
}
#facebook-button{
    padding:0;
    margin:0;
    background-image: url(https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-256.png);
    width:100px;
    height:100px;
    background-size: 143px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(.07,1.41,.82,1.41);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space:nowrap;
    background-color:white;

}
#facebook-button:hover {
    background-size: 160px;
}




